name: basic-checks
on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  markdown-lint:
    name: markdown-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint Markdown
        uses: davidanson/markdownlint-action@v1
